{{template "base" .}}

{{define "main"}}
<h1 style="margin-left: 40px;">⚠️⚠️⚠️</h1><h3 style="margin-left: 40px; margin-right: 40px;">из-за различных особенностей расстановки огласовок, 
  конвертация может быть с ошибками. Поэтому попросите кого-то её проверить. А лучше просто воспользуйтесь нашими
  готовыми вариантами. Их вам будет достаточно, чтобы самостоятельно читать намаз в первое время. 
  А дальше вам обязательно нужно освоить таджвид
</h3>
<form class="result" action="/result" method="POST">
      <textarea name="input" required placeholder="вставьте сюда аят" rows="4" cols="40"></textarea>
      <div>
        <input type='submit' style="margin-left: 20px;" value='Конвертировать'> 
    </div>
      
    </form>

   
{{end}}
