{{template "base" .}}

{{define "main"}}
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    в этом разделе даны пояснения для цветных подсказок таджвида, как их читать
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    это временная оперативная мера для новичков, чтобы вы могли правильно (на сколько это возможно) читать Коран. 
    Но как можно скорее выучите арабские буквы и таджвид вместе с учителем, который "поставит" вам правильное произношение. Поверьте, это совсем не трудно
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    <h1 style="margin-left: 40px;">⚠️⚠️⚠️</h1> сперва очень важное правило - нельзя делать остановку в любом месте, и продолжить с того же места.
     Поэтому для начала выучите для намаза маленькие суры, чтобы вы могли прочитать целый аят на одном дыхании. После каждого аята делайте маленькую паузу.
     Т.к. для непрерывного, слитного чтения двух аятов тоже есть свои правила.
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    _
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    В арабском гласные звуки обозначаются добавлением к согласным буквам огласовок [a](называется фатха), [и](кясра) и [у](домма).
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    Мягкая буква + огласовка "и" = звук "и". Твердая буква + огласовка "и" = звук "ы". 
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    <strong>далее пояснения к использованным сочетаниям символов</strong>
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    Если после буквы стоит восклицательный знак, то эту букву нужно прочитать твердо.
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    "д!" - арабская "ض". Язык прижимается к нёбу и верхним деснам, как бы не выпуская воздух, "надувается". Таким образом, пытаясь сказать "да",
    у вас должно получиться больше похоже на "до". 
    При этом будет не правильно вытягивать губы, как бы "искусственно" производя звук "о". 
    Губы вытягиваются "в трубочку" только для звука "у"
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    "с!" - арабская "ص". Язык слева и справа прижимается к верхним деснам. Кончик языка касается передних нижних зубов.
    Получается как бы "лодочка". У вас физически не должно получиться сказать "си". Должно получиться "сы".
    "са" тоже должно быть что-то среднее между звуком "о" и "а"
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    Если после буквы стоит вопросительный знак, то это мягкий, либо межзубный звук.
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    "с?" - арабская "ث". Межзубная, мягкая "с". Кончик языка немного касается края верхних передник зубов.
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    "қ" - арабская "ق". Звук извлекаем примерно в том же месте, где и обычную "х", но язык надавливает более "плашмя".
    Протяните звук "х". Почувствуйте место, язык касается и отрывается от нёба, как "мотор". В этом месте нужно языком надавить сильнее и более плашмя и отпустить.
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    "ғ" - арабская "غ". Звук извлекаем примерно так же, как и обычную "х", но немного язык глубже и надавливаете краями, 
    а по середине надавливаете слабее, позволяя воздуху пройти. Должен получиться звук, типа слияния "х" и "г".
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    " ' " - арабская "ع". Самая "глубокая буква". Язык немного отходит назад. 
    Создаётся напряжение в районе ротоглотки и гортаноглотки.
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    "h" - арабская "ه". Я ранее ошибся)) вот это - самая "глубокая буква". 
    Воздух выходит почти без сопротивления. Легкий, мягкий звук "х" извлекаем из груди.
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    "х!" - арабская "خ". Обычная "х". Но тверже, грубее, хрипучее. С огласовкой "и" должно получиться "хы".
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    "х?" - арабская "ح". Извлекается там же, где и " ' ".
    Сдавите там воздух. Попробуйте сделать протяжный, скрипучий звук "х" из этого места.
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    "j" - арабская "ج". Примерно как английская "j". 
    Но площадь соприкосновения больше, язык касается нёба более плашмя. 
    С огласовкой "и" получается звук "и", не "ы".
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    "з!" - арабская "ظ". Межзубная твёрдая "з". Кончик языка касается края передних верхних зубов
    немного больше, чем при "с?" или "з?" (эта буква будет далее). С огласовкой "и" получается звук "ы"
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    "т!" - арабская "ط". Твердая "т". Извлекаетс там же, где и обычная "т". 
    С огласовкой "и" получается звук "ы". С огласовкой "а" получается твердый звук, похожий на "о".
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    "з?" - арабская "ذ". Твердая "т". Мягкая межзубная "з". 
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    "w" - арабская "و". Согласный звук "у". Губы в трубочку. Не из груди гласное "ууу", а во рту согласное "www"
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    _
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    <strong>далее пояснения к цветным обозначениям правил таджвида</strong>
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    _
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    <strong style="color: green;">правило "ғунна" </strong>
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    обозначено зеленым цветом. Нужно читать в нос, и немного протянуть. Кончик языка касается нёба
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    _
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    <strong style="color: purple;">правило "ихфа" </strong>
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    обозначено фиолетовым цветом. Нужно читать в нос, и немного протянуть. Кончик языка не касается нёба, но близко к нёбу
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    _
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    <strong style="color: blue;">правило "қальқаля" </strong>
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    обозначено синим цветом. Нужно как бы "ударить" этот звук. Произнести его чётко
</div>
<div class="explain" style="margin-top: 15px; border-top: 1px solid #b0bbc7; border-bottom: 1px solid #b0bbc7; padding: 0 100px 0 100px;">
    _
</div>


   
{{end}}
