body{
    margin:0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(125deg,#6a89cc,#b8e994);
    background-attachment: fixed;
}
.home{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:#343434;
    
}

.home h1{
    font-size: 160px;
    margin:0;
    font-weight: 900;
    background: url(index.jpg) center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.home a{
    text-decoration: none;
    background: #e55039e8;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
}

.home a:hover{
    background: crimson;
    cursor:pointer;
}